<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wdzj.iLoans.module.jizhang.shared.UserRecordMapper" >
  <resultMap id="BaseResultMap" type="com.wdzj.iLoans.module.jizhang.shared.UserRecord" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="amount" property="amount" jdbcType="DECIMAL" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="project" property="project" jdbcType="VARCHAR" />
    <result column="biz_name" property="bizName" jdbcType="VARCHAR" />
    <result column="account" property="account" jdbcType="VARCHAR" />
    <result column="member" property="member" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="income_pay_flag" property="incomePayFlag" jdbcType="INTEGER" />
    <result column="item_name_1" property="itemName1" jdbcType="VARCHAR" />
    <result column="item_name_2" property="itemName2" jdbcType="VARCHAR" />
    <result column="payer_name" property="payerName" jdbcType="VARCHAR" />
    <result column="to_account" property="toAccount" jdbcType="VARCHAR" />
    <result column="creditor_name" property="creditorName" jdbcType="VARCHAR" />
    <result column="borrow_account" property="borrowAccount" jdbcType="VARCHAR" />
    <result column="repayment_date" property="repaymentDate" jdbcType="TIMESTAMP" />
    <result column="repayment_remind_flag" property="repaymentRemindFlag" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, amount, type, project, biz_name, account, member, remark, user_name, create_date, 
    update_date, income_pay_flag, item_name_1, item_name_2, payer_name, to_account, creditor_name, 
    borrow_account, repayment_date, repayment_remind_flag
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from jz_user_record
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from jz_user_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wdzj.iLoans.module.jizhang.shared.UserRecord" >
    insert into jz_user_record (id, amount, type, 
      project, biz_name, account, 
      member, remark, user_name, 
      create_date, update_date, income_pay_flag, 
      item_name_1, item_name_2, payer_name, 
      to_account, creditor_name, borrow_account, 
      repayment_date, repayment_remind_flag)
    values (#{id,jdbcType=INTEGER}, #{amount,jdbcType=DECIMAL}, #{type,jdbcType=INTEGER}, 
      #{project,jdbcType=VARCHAR}, #{bizName,jdbcType=VARCHAR}, #{account,jdbcType=VARCHAR}, 
      #{member,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP}, #{incomePayFlag,jdbcType=INTEGER}, 
      #{itemName1,jdbcType=VARCHAR}, #{itemName2,jdbcType=VARCHAR}, #{payerName,jdbcType=VARCHAR}, 
      #{toAccount,jdbcType=VARCHAR}, #{creditorName,jdbcType=VARCHAR}, #{borrowAccount,jdbcType=VARCHAR}, 
      #{repaymentDate,jdbcType=TIMESTAMP}, #{repaymentRemindFlag,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.wdzj.iLoans.module.jizhang.shared.UserRecord" >
    insert into jz_user_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="project != null" >
        project,
      </if>
      <if test="bizName != null" >
        biz_name,
      </if>
      <if test="account != null" >
        account,
      </if>
      <if test="member != null" >
        member,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="incomePayFlag != null" >
        income_pay_flag,
      </if>
      <if test="itemName1 != null" >
        item_name_1,
      </if>
      <if test="itemName2 != null" >
        item_name_2,
      </if>
      <if test="payerName != null" >
        payer_name,
      </if>
      <if test="toAccount != null" >
        to_account,
      </if>
      <if test="creditorName != null" >
        creditor_name,
      </if>
      <if test="borrowAccount != null" >
        borrow_account,
      </if>
      <if test="repaymentDate != null" >
        repayment_date,
      </if>
      <if test="repaymentRemindFlag != null" >
        repayment_remind_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="project != null" >
        #{project,jdbcType=VARCHAR},
      </if>
      <if test="bizName != null" >
        #{bizName,jdbcType=VARCHAR},
      </if>
      <if test="account != null" >
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="member != null" >
        #{member,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="incomePayFlag != null" >
        #{incomePayFlag,jdbcType=INTEGER},
      </if>
      <if test="itemName1 != null" >
        #{itemName1,jdbcType=VARCHAR},
      </if>
      <if test="itemName2 != null" >
        #{itemName2,jdbcType=VARCHAR},
      </if>
      <if test="payerName != null" >
        #{payerName,jdbcType=VARCHAR},
      </if>
      <if test="toAccount != null" >
        #{toAccount,jdbcType=VARCHAR},
      </if>
      <if test="creditorName != null" >
        #{creditorName,jdbcType=VARCHAR},
      </if>
      <if test="borrowAccount != null" >
        #{borrowAccount,jdbcType=VARCHAR},
      </if>
      <if test="repaymentDate != null" >
        #{repaymentDate,jdbcType=TIMESTAMP},
      </if>
      <if test="repaymentRemindFlag != null" >
        #{repaymentRemindFlag,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wdzj.iLoans.module.jizhang.shared.UserRecord" >
    update jz_user_record
    <set >
      <if test="amount != null" >
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="project != null" >
        project = #{project,jdbcType=VARCHAR},
      </if>
      <if test="bizName != null" >
        biz_name = #{bizName,jdbcType=VARCHAR},
      </if>
      <if test="account != null" >
        account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="member != null" >
        member = #{member,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="incomePayFlag != null" >
        income_pay_flag = #{incomePayFlag,jdbcType=INTEGER},
      </if>
      <if test="itemName1 != null" >
        item_name_1 = #{itemName1,jdbcType=VARCHAR},
      </if>
      <if test="itemName2 != null" >
        item_name_2 = #{itemName2,jdbcType=VARCHAR},
      </if>
      <if test="payerName != null" >
        payer_name = #{payerName,jdbcType=VARCHAR},
      </if>
      <if test="toAccount != null" >
        to_account = #{toAccount,jdbcType=VARCHAR},
      </if>
      <if test="creditorName != null" >
        creditor_name = #{creditorName,jdbcType=VARCHAR},
      </if>
      <if test="borrowAccount != null" >
        borrow_account = #{borrowAccount,jdbcType=VARCHAR},
      </if>
      <if test="repaymentDate != null" >
        repayment_date = #{repaymentDate,jdbcType=TIMESTAMP},
      </if>
      <if test="repaymentRemindFlag != null" >
        repayment_remind_flag = #{repaymentRemindFlag,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wdzj.iLoans.module.jizhang.shared.UserRecord" >
    update jz_user_record
    set amount = #{amount,jdbcType=DECIMAL},
      type = #{type,jdbcType=INTEGER},
      project = #{project,jdbcType=VARCHAR},
      biz_name = #{bizName,jdbcType=VARCHAR},
      account = #{account,jdbcType=VARCHAR},
      member = #{member,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      income_pay_flag = #{incomePayFlag,jdbcType=INTEGER},
      item_name_1 = #{itemName1,jdbcType=VARCHAR},
      item_name_2 = #{itemName2,jdbcType=VARCHAR},
      payer_name = #{payerName,jdbcType=VARCHAR},
      to_account = #{toAccount,jdbcType=VARCHAR},
      creditor_name = #{creditorName,jdbcType=VARCHAR},
      borrow_account = #{borrowAccount,jdbcType=VARCHAR},
      repayment_date = #{repaymentDate,jdbcType=TIMESTAMP},
      repayment_remind_flag = #{repaymentRemindFlag,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>